@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/keyframes";

.nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    // font-size: 1.25em;
    font-weight: 300;
    li {
        padding: .5em;
        margin: .5em 0;
        // border: 2px solid $background-color;
        box-shadow: 0px 0px 7px $background-color;
        border-radius: 10px;
        text-align: center;
        transition: .15s ease-in;
        &:hover {
            background-color: rgba($background-color, .3);
            cursor: pointer;
        }
    }
    a {
        text-decoration: none;
        color: $text-color;
        min-width: 85%;
        color: $background-color;
        }
    @include breakpoint($large) {
        margin: 0;
        li {
            border-color: $background-color;
            &:hover {
                background-color: rgba($background-color, .3);
            }
        }
        a {
        }
    }
}