/* fonts */
@use "sass:map";
@use "sass:list";

//Components
@use "general";
@use "Components/header";
@use "Components/main";
@use "Components/nav";
@use "Components/about";
@use "Components/skills";
@use "Components/skills-card";
@use "Components/skills-icon";
@use "Components/projects";
@use "Components/contact";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
