/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:ital,wght@0,300;0,600;1,300;1,600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;500;700&family=Nunito:ital,wght@0,300;0,600;1,300;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  background-color: black;
  color: white;
}

.hide {
  display: none;
}

#root {
  margin-bottom: 2em;
}

.header {
  padding: 0 5% 0;
  display: flex;
  flex-direction: column;
}
.header #title {
  font-size: 3em;
}
.header #title-desc {
  display: block;
  font-size: 0.5em;
  margin-top: 0.5em;
}
@media (min-width: 490px) {
  .header {
    font-size: 1.5em;
  }
}
@media (min-width: 1400px) {
  .header {
    font-size: 2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
  }
  .header #title {
    font-size: 3.5em;
  }
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.nav li {
  padding: 0.5em 0;
  margin: 0.5em 0;
  border: 2px solid white;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  transition: 0.15s ease-in;
}
.nav li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.about {
  padding: 0 5% 0;
  line-height: 1.5;
}

.skills {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.skills .skills-title {
  margin-bottom: 0.5em;
}
.skills .skills-icons-container {
  width: 200%;
  height: 450px;
  display: flex;
  justify-content: space-around;
}
.skills .skills-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.skills .skills-icons.animating {
  animation: 1s cubic-bezier(0.69, -0.08, 0.47, 0.99) slide;
}
.skills .icon-full {
  width: 320px;
  height: 90%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5em;
  transition: 0.5s ease-in;
}
.skills .icon-full .icon-img {
  border-radius: 1.5em 1.5em 0 0;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid black;
  height: 33%;
}
.skills .icon-full .icon-img img {
  width: 100px;
  height: 100px;
}
.skills .icon-full p {
  font-size: 0.9em;
  padding: 0.2em 0;
  text-align: center;
}
.skills .icon-full h3 {
  margin-top: 0.3em;
  margin-bottom: 0.75em;
}
.skills .icon-full.next {
  position: absolute;
  left: 110%;
  bottom: 5%;
}
.skills .icon-full:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 15px 0px white;
  cursor: pointer;
}
.skills #html .icon-img {
  background-color: #f06529;
}
.skills #html:hover {
  border: 1px solid #f06529;
  box-shadow: 0px 0px 5px 3px #f06529;
}
.skills #css .icon-img {
  background-color: #2965f1;
}
.skills #css:hover {
  border: 1px solid #2965f1;
  box-shadow: 0px 0px 5px 3px #2965f1;
}
.skills #js .icon-img {
  background-color: #f0db4f;
}
.skills #js:hover {
  border: 1px solid #f0db4f;
  box-shadow: 0px 0px 5px 3px #f0db4f;
}
.skills #react .icon-img {
  background-color: #61DBFB;
}
.skills #react:hover {
  border: 1px solid #61DBFB;
  box-shadow: 0px 0px 5px 3px #61DBFB;
}
.skills .icon-img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.skills h3 {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
}
.skills p {
  margin: 0;
  padding: 0.75em;
}

.projects-title {
  padding: 0 5% 0;
}

.projects {
  width: 100%;
  margin-bottom: 2em;
  padding: 0 5% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projects .project-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 1em;
  margin: 0 auto;
  background: white;
  border-radius: 2em;
  color: black;
}
.projects .project-image {
  max-width: 100%;
}
.projects .direction-btn {
  height: 10%;
  background-color: transparent;
  color: white;
  border: none;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 0 5% 0;
}
.contact .contact-body {
  display: flex;
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 3em;
}
.contact .contact-aside {
  flex-grow: 1;
}
.contact input, .contact textarea {
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 0.25em 0.5em;
}
.contact textarea {
  min-height: 8em;
}
.contact button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(4%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
