/* fonts */
@use "sass:map";
@use "sass:list";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:ital,wght@0,300;0,600;1,300;1,600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;500;700&family=Nunito:ital,wght@0,300;0,600;1,300;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap');

//colors
$background-color: black;
$text-color: white;
$html-color: #f06529;
$js-color: #f0db4f;
$css-color: #2965f1;
$react-color: #61DBFB;

//media query breakpoints
$small: 490px;
$medium: 790px;
$large: 1050px;
$extra-large: 1400px;
//

@mixin img-size($size) {
    width: $size;
    height: $size;
}

@mixin icon-full-color($color) {
    .icon-img{
        background-color: $color;
    }
    &:hover {
        border: 1px solid $color;
        box-shadow: 0px 0px 5px 3px $color; 
    }
}

@mixin breakpoint($size) {
     @media (min-width: $size) {
        @content;
    }
}


* {
    box-sizing: border-box;
}

body {
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Nunito', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'Work Sans', sans-serif;
    font-family: 'Arimo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.25;
    background-color: $background-color;
    color: $text-color;
}

.hide {
    display: none;
}

#root {
    margin-bottom: 2em;
}

.header {
    padding: 0 5% 0;
    display: flex;
    flex-direction: column;
    #title {
        font-size: 3em;
        // margin-top: 1.1em;    
    }
    #title-desc {
        display: block;
        font-size: .5em;
        margin-top: .5em;
    }
    @include breakpoint($small) {
        font-size: 1.5em;
    }
    
    @include breakpoint($extra-large) {
        font-size: 2.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 100vh;

        #title {
            font-size: 3.5em;
        }
        #title-desc {

        }
    }
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    li {
        padding: .5em 0;
        margin: .5em 0;
        border: 2px solid $text-color;
        border-radius: 10px;
        width: 50%;
        text-align: center;
        transition: .15s ease-in;
        &:hover {
            background-color: rgba($text-color, .3);
            cursor: pointer;
        }
    }
    // li:nth-of-type(2n) {
    //     align-self: end;
    // }
}

.about {
    padding: 0 5% 0;
    line-height: 1.5;
}

.skills {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .skills-title {
        margin-bottom: .5em;
    }
    .skills-icons-container {
        width: 200%;
        height: 450px;
        display: flex;
        justify-content: space-around;
    }

    .skills-icons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        &.animating {
            animation: 1s cubic-bezier(.69,-0.08,.47,.99) slide;
        }
    }
    .icon-full {
        // margin: 0 auto;
        width: 320px;
        height: 90%;
        background-color: $text-color;
        color: $background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.5em;
        transition: .5s ease-in;
        .icon-img {
            border-radius: 1.5em 1.5em 0 0;
            display: flex;
            justify-content: center;
            border-bottom: 3px solid $background-color;
            height: 33%;
            img {
                @include img-size(100px);
            }
        }

        p{
            font-size: .9em;
            padding: .2em 0;
            text-align: center;
        }

        h3 {
            margin-top: .3em;
            margin-bottom: .75em;
        }

        &.next {
            position: absolute;
            left: 110%;
            bottom: 5%;
        }

        &:hover {
            transform: scale(1.08);
            box-shadow: 0px 0px 15px 0px $text-color;
            cursor: pointer;
        }
    }
    #html {
        @include icon-full-color($html-color);
    }
    #css {
        @include icon-full-color($css-color);
    }
    #js {
        @include icon-full-color($js-color);
    }
    #react {
        @include icon-full-color($react-color);
    }
    .icon-img{
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    h3 {
        font-size: 1.5em;
        margin: 1.5em 0 0 0;
    }
    p {
        margin: 0;
        padding: .75em;
    }
}

.projects-title {
    padding: 0 5% 0;
}

.projects {
    width: 100%;
    margin-bottom: 2em;
    padding: 0 5% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .project-card {
        display: flex;
        flex-direction: column;
        width: 320px; 
        padding: 1em;
        margin: 0 auto;
        background: $text-color;
        border-radius: 2em;
        color: $background-color;
    }
    .project-image {
        max-width: 100%;
    }
    .direction-btn {
        height: 10%;
        background-color: transparent;
        color: $text-color;
        border: none;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 0 5% 0;
    .contact-body {
        display: flex;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: 3em;
    }
    .contact-aside {
        flex-grow: 1;
    }
    input, textarea{
        margin-bottom: 1em;
        border-radius: 10px;
        // font-size: 1.2em;
        padding: .25em .5em;
    }
    textarea {
        min-height: 8em;
    }
    button {
        background-color: $background-color;
        color: $text-color;
        border: 1px solid $text-color;
        border-radius: 5px;
        padding: .5em;
    }
}

@keyframes slide {
    0% {
        transform: translate(0,0);
    }
    10% {
        transform: translate(4%);
    }
    100% {
        transform: translate(-100%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}