@use "../Utils" as *;

.header {
  padding: 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: $background-color;
  #title {
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    margin-top: 0.25em;
    border-top: 2px solid $background-color;
    border-right: 2px solid $background-color;
    padding-bottom: 0.25em;
  }
  #title-desc {
    display: block;
    font-size: 0.5em;
    margin-top: 0.5em;
  }
  .scroll-down {
    width: 100%;
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
    font-weight: 300;
    align-self: center;
    animation: fade-in-out 2s infinite alternate;
    grid-area: scroll;
  }

  // breakpoints

  @include breakpoint($medium) {
    font-size: 1.25em;
  }

  @include breakpoint($large) {
    font-size: 1.35em;
    background: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    #title {
      font-size: 4em;
      padding: 0.25em;
      margin-top: 0;
      margin-bottom: 1em;
      margin-right: auto;
    }
    .scroll-down {
      align-self: end;
    }
  }

  @include breakpoint($extra-large) {
    font-size: 1.45em;
  }

  @include breakpoint(1600px) {
    #title {
      font-size: 5.5em;
    }
  }
}
