@use "../Utils" as *;

.header {
  padding: 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: $background-color;

  .title-container {
    margin-top: 3em;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .header-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-size: .65em;
      margin: .5em 0 1em .25em;
      transition: .3s ease-in-out transform;
      a {
        display: flex;
        align-items: center;
      }
      img {
        height: 1.25em;
        width: 1.25em;
      }
      &:hover {
        transform: translateX(10px);
        cursor: pointer;
      }
    }
  }
  #title {
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    border-top: 2px solid $background-color;
    border-right: 2px solid $background-color;
    padding-bottom: 0.25em;
  }
  #title-desc {
    display: block;
    font-size: 0.5em;
    margin-top: 0.5em;
  }
  .scroll-down {
    width: 100%;
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
    font-weight: 300;
    align-self: center;
    animation: fade-in-out 2s infinite alternate;
    grid-area: scroll;
    &.fade-out {
      animation: fade-in .5s reverse forwards;
    }
  }

  // breakpoints

  @include breakpoint($medium) {
    font-size: 1.25em;
    #title {
      font-size: 2.8em;
    }
    .header-links {
      display: inline-block;
      li {
        img {
          display: inline-block;
        }
      }
    }
  }

  @include breakpoint($large) {
    font-size: 1.35em;
    background: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    #title {
      font-size: 3.65em;
      padding: 0.25em;
      margin-top: 0;
      margin-bottom: 1em;
      margin-right: auto;
    }
    .scroll-down {
      align-self: end;
    }
  }

  @include breakpoint($extra-large) {
    font-size: 1.45em;
  }

  @include breakpoint(2000px) {
    #title {
      font-size: 5em;
    }
  }
}
