@use "../Utils" as *;

.socials {
  &.fade-in {
    animation: fade-in 0.5s ease-in;
  }
  &__title {
    padding-left: 5%;
  }
  &__body {
    max-width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__twitter {
    flex: 1;
    border-top: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    padding-top: 0.5em;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      margin-bottom: -15px;
      width: 100%;
      height: 2em;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        to bottom,
        rgba($text-color, 0),
        rgba($text-color, 1)
      );
    }
    &::after {
      content: "";
      margin-bottom: -15px;
      width: 100%;
      height: 2em;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to top,
        rgba($text-color, 0),
        rgba($text-color, 1)
      );
      pointer-events: none;
    }
  }
  .tweets__list {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 50vh;
    padding-top: 0.5em;
    border-right: 5px solid transparent;
    padding-inline: 0.25em;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5em;
      background-color: rgba($background-color, 0.3);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba($background-color, 0.5);
    }
  }
  &__tweet {
    display: grid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba($background-color, .6);
    padding-top: 1em;
    padding-inline: 0.5em;
    padding-bottom: 1em;
    max-width: 100%;
    grid-template-columns: fit-content(100%) auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "img user user ."
      "img text text text";
    //   ".   .   text text";
    column-gap: 0.75em;
    font-size: 0.6em;
    .tweet__profile__img {
      width: 4em;
      border-radius: 50%;
      grid-area: img;
      &:hover {
        cursor: pointer;
      }
    }
    .tweet__username {
      margin: 0;
      height: fit-content;
      grid-area: user;
      white-space: nowrap;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }
    .tweet__user__handle {
      display: inline;
      color: rgba($background-color, 0.7);
      font-weight: 400;
      margin-left: 0.1em;
      &:hover {
        color: rgba($background-color, 0.9);
      }
    }
    .tweet__text {
      font-size: 1.1em;
      margin: 0;
      grid-area: text;
    }
  }
}
