@import "variables";

@mixin img-size($size) {
    min-width: $size;
    min-height: $size;
}

@mixin icon-full-color($color) {
    .icon-img{
        background-color: $color;
    }
    &.hover:hover {
        border: 1px solid $color;
        box-shadow: 0px 0px 5px 3px $color; 
    }
}

@mixin breakpoint($size) {
     @media (min-width: $size) {
        @content;
    }
}

@mixin cardSize($size) {
    width: $size;
    height: 1.4*$size;
    max-width: 90vw;
    max-height: 80vh;
}