@import "variables";

@mixin img-size($size) {
    width: $size;
    height: $size;
}

@mixin icon-full-color($color) {
    // box-shadow: 0px 10px 20px -5px $color;
    .icon-img{
        background-color: $color;
    }
    &.hover:hover {
        // border: 1px solid $color;
    box-shadow: 0px 20px 60px $color;
    }
    .icon-main {
        // background: linear-gradient(180deg, $text-color, rgba($color, .1));
    }
}

@mixin breakpoint($size) {
     @media (min-width: $size) {
        @content;
    }
}

@mixin cardSize($size) {
    width: $size;
    height: 1.4*$size;
    max-width: 90%;
    max-height: 90%;
}