//colors
$background-color: rgb(34, 33, 33);
$text-color: rgb(235, 231, 227);
$html-color: #f06529;
$js-color: #f0db4f;
$css-color: #2965f1;
$react-color: #61DBFB;
$sass-color: #cc6699;

//media query breakpoints
$small: 490px;
$medium: 790px;
$large: 1050px;
$extra-large: 1400px;