//colors
$background-color: black;
$text-color: white;
$html-color: #f06529;
$js-color: #f0db4f;
$css-color: #2965f1;
$react-color: #61DBFB;

//media query breakpoints
$small: 490px;
$medium: 790px;
$large: 1050px;
$extra-large: 1400px;