

@keyframes slide-right {
    0% {
        transform: translate(0,0);
    }
    10% {
        transform: translate(4%);
    }
    100% {
        transform: translate(-100%);
    }
}

@keyframes slide-left {
    0% {
        transform: translate(-200%);
    }
    10% {
        transform: translate(-204%);
    }
    100% {
        transform: translate(-100%);
    }
}
@keyframes slide-left-current {
    0% {
        transform: translate(0%);
    }
    10% {
        transform: translate(-4%);
    }
    100% {
        transform: translate(100%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade--in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade--out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-in-bottom {
    0% {
        transform: translatey(500%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(10px)
    }
}

@keyframes slide--out--right {
    0% {
        transform: translateX()
    }
}

