//colors
$background-color: rgb(34, 33, 33);
$text-color: rgb(235, 231, 227);
$html-color: #f3722c;
$js-color: #f9c74f;
$css-color: #43aa8b;
$react-color: #61DBFB;
$sass-color: #cc6699;
$node-color: #34ec5c;
$git-color: #f94144;
$express-color: #577590;
$jira-color: #4389f1;
$sql-color: #00758f;

//media query breakpoints
$small: 490px;
$medium: 760px;
$large: 1050px;
$extra-large: 1400px;