/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
@keyframes slide-right {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(4%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes slide-left {
  0% {
    transform: translate(-200%);
  }
  10% {
    transform: translate(-204%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes slide-left-current {
  0% {
    transform: translate(0%);
  }
  10% {
    transform: translate(-4%);
  }
  100% {
    transform: translate(100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  background-color: #ebe7e3;
  color: #222121;
}
body h2 {
  margin: 0.75em 0;
  font-size: 1.5em;
  font-weight: 500;
}

#about, #skills, #contact, #projects {
  padding: 1.5em 0;
}

.hide {
  display: none;
}

.header {
  padding: 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #222121;
}
.header #title {
  font-size: 3em;
  font-weight: 400;
  margin: 0;
  margin-top: 0.25em;
  border-top: 2px solid #222121;
  border-right: 2px solid #222121;
  padding-bottom: 0.25em;
}
.header #title-desc {
  display: block;
  font-size: 0.5em;
  margin-top: 0.5em;
}
.header .scroll-down {
  width: 100%;
  margin: 0;
  padding-bottom: 0.5em;
  text-align: center;
  font-weight: 300;
  align-self: center;
  animation: fade-in-out 2s infinite alternate;
  grid-area: scroll;
}
@media (min-width: 760px) {
  .header {
    font-size: 1.25em;
  }
}
@media (min-width: 1050px) {
  .header {
    font-size: 1.35em;
    background: #ebe7e3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header #title {
    font-size: 4em;
    padding: 0.25em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-right: auto;
  }
  .header .scroll-down {
    align-self: end;
  }
}
@media (min-width: 1400px) {
  .header {
    font-size: 1.45em;
  }
}
@media (min-width: 1600px) {
  .header #title {
    font-size: 5.5em;
  }
}

.main {
  padding-bottom: 2rem;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-weight: 300;
}
.nav li {
  padding: 0.5em;
  margin: 0.5em 0;
  box-shadow: 0px 0px 7px #222121;
  border-radius: 10px;
  text-align: center;
  transition: 0.15s ease-in;
}
.nav li:hover {
  background-color: rgba(34, 33, 33, 0.3);
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: #ebe7e3;
  min-width: 85%;
  color: #222121;
}
@media (min-width: 1050px) {
  .nav {
    max-width: 50%;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    order: -1;
  }
  .nav a {
    min-width: 0;
  }
  .nav li {
    border-color: #222121;
    padding: 0;
    margin: 0 0.5em;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid #ebe7e3;
  }
  .nav li:hover {
    background-color: #ebe7e3;
    border-bottom: 1px solid #222121;
  }
}

#about {
  padding: 0 5% 0;
  line-height: 1.5;
}
#about p {
  margin: 0;
}

#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #ebe7e3;
  color: #222121;
}
#skills .skills-title {
  padding: 0 5% 0;
  width: 100%;
  flex-basis: 100%;
}
#skills .full-skills-container {
  display: flex;
  align-items: center;
  width: 100%;
}
#skills .skills-container {
  border-radius: 0.25em;
  box-shadow: 0px 0px 7px inset #222121;
  background: transparent;
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
}
#skills .skills-icons-container {
  width: 200%;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
}
#skills .skills-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#skills .skills-icons.animating.right, #skills .skills-icons.animating.right-current {
  animation: 1s cubic-bezier(0.69, -0.08, 0.47, 0.99) slide-right;
}
#skills .skills-icons.animating.left {
  animation: 1s cubic-bezier(0.69, -0.08, 0.47, 0.99) slide-left;
}
#skills .skills-icons.animating.left-current {
  animation: 1s cubic-bezier(0.69, -0.08, 0.47, 0.99) slide-left-current;
}
#skills .skills-left,
#skills .skills-right {
  display: none;
  color: #222121;
  background: transparent;
  border: none;
  font-size: 1.5em;
  max-width: 5%;
  margin: 0 0.25em;
  align-self: center;
  margin: 0 auto;
}
#skills .skills-left:hover,
#skills .skills-right:hover {
  cursor: pointer;
}
@media (min-width: 760px) {
  #skills .skills-left,
#skills .skills-right {
    display: inline-block;
  }
}

#skills .icon-full {
  width: 9em;
  height: 12.6em;
  max-width: 90%;
  max-height: 90%;
  background-color: #ebe7e3;
  color: #222121;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5em;
  transition: 0.3s ease-in;
  box-shadow: 0px 0px 10px #222121;
}
#skills .icon-full .icon-img {
  border-radius: 1.4em 1.4em 0 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #222121;
  height: 33.3333333333%;
}
#skills .icon-full .icon-img img {
  align-self: center;
  width: 4.75em;
  height: 4.75em;
}
#skills .icon-full .icon-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 66.6666666667%;
  background-color: #eee;
  border-radius: 0 0 1.4em 1.4em;
}
#skills .icon-full p {
  font-size: 0.6em;
  font-weight: 300;
  padding: 0.2em 0.3em;
  margin: 0;
  text-align: center;
}
#skills .icon-full h3 {
  font-weight: 400;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  font-size: 1.15em;
}
#skills .icon-full.hover:hover {
  transform: translateY(-5%);
  cursor: pointer;
}
#skills #html .icon-img {
  background-color: #f06529;
}
#skills #html.hover:hover {
  box-shadow: 0px 20px 60px #f06529;
}
#skills #css .icon-img {
  background-color: #2965f1;
}
#skills #css.hover:hover {
  box-shadow: 0px 20px 60px #2965f1;
}
#skills #js .icon-img {
  background-color: #f0db4f;
}
#skills #js.hover:hover {
  box-shadow: 0px 20px 60px #f0db4f;
}
#skills #react .icon-img {
  background-color: #61DBFB;
}
#skills #react.hover:hover {
  box-shadow: 0px 20px 60px #61DBFB;
}
#skills #sass .icon-img {
  background-color: #cc6699;
}
#skills #sass.hover:hover {
  box-shadow: 0px 20px 60px #cc6699;
}

#skills-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(34, 33, 33, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#skills-modal.hide {
  display: none;
}
#skills-modal .icon-full {
  width: 600px;
  height: 840px;
  max-width: 90%;
  max-height: 90%;
  font-size: 1.5em;
}
#skills-modal .icon-full .icon-img {
  justify-content: space-between;
}
#skills-modal .icon-full .icon-img img {
  width: 200px;
  height: 200px;
  align-self: center;
}
#skills-modal .icon-full p {
  font-size: 1em;
}
#skills-modal .icon-full h3 {
  font-size: 1.5em;
}
#skills-modal button {
  height: 1em;
  width: 1em;
  background-color: transparent;
  border: none;
  margin: 0.5em 0.75em;
  opacity: 0.8;
}
#skills-modal button:hover {
  cursor: pointer;
  opacity: 1;
}
#skills-modal .invisible {
  margin: 0.5em 0.75em;
  height: 1em;
  width: 1em;
}
#skills-modal .view-projects {
  text-decoration: none;
  color: #222121;
  margin-top: auto;
  margin-bottom: 0.5em;
  font-weight: 400;
}
#skills-modal .view-projects span {
  animation: bounce 1s infinite alternate;
  display: block;
  text-align: center;
}
#skills-modal.fade-in {
  animation: slide-in 500ms ease-in-out 1 forwards;
}
#skills-modal.fade-out {
  animation: slide-out 500ms ease-in-out forwards;
}
@media (max-width: 760px) {
  #skills-modal {
    display: none;
  }
}

#projects {
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}
#projects .projects-title {
  padding: 0 5% 0;
}
#projects .project-card {
  font-size: 0.85em;
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  border-bottom: 2px solid #222121;
}
#projects .project-card:nth-of-type(1) {
  border-top: 2px solid #222121;
}
#projects .project-head {
  max-width: 25em;
  display: flex;
  flex-direction: column;
}
#projects .project-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25em;
}
#projects .project-image {
  width: 100%;
}
#projects .project-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.35em;
  font-weight: 500;
}
#projects .project-desc {
  margin: auto 0;
}
#projects .project-skills {
  font-size: 0.6em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
#projects .project-skills li {
  padding: 0.1em 0.6em;
  border: 1px solid #222121;
  border-radius: 0.75em;
  margin: 0.25em;
  background: #222121;
  color: #ebe7e3;
}
#projects .project-buttons {
  margin-top: 1em;
  margin-left: auto;
  font-size: 0.8em;
}
#projects .project-buttons .live-demo, #projects .project-buttons .github {
  padding: 0.25em 0.5em;
  background: #222121;
  color: #ebe7e3;
  border: none;
  border-radius: 0.5em;
  transition: 0.25s ease-in-out;
}
#projects .project-buttons .live-demo:hover, #projects .project-buttons .github:hover {
  background: rgba(34, 33, 33, 0.8);
  cursor: pointer;
}
#projects .project-buttons .live-demo {
  margin-right: 0.5em;
}
@media (min-width: 760px) {
  #projects .project-card {
    font-size: 1.15em;
  }
}
@media (min-width: 1610px) {
  #projects .project-card:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  #projects .project-card:nth-of-type(2n) .project-buttons {
    margin-left: 0;
    margin-right: auto;
  }
  #projects .project-card:nth-of-type(2n) .project-skills {
    margin-left: auto;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  padding: 0 5% 0;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#contact .contact-aside {
  flex-grow: 1;
}
#contact input,
#contact textarea {
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 0.25em 0.5em;
}
#contact textarea {
  min-height: 8em;
}
#contact button {
  background-color: #222121;
  color: #ebe7e3;
  border: 1px solid #ebe7e3;
  border-radius: 5px;
  padding: 0.5em;
}
@media (min-width: 1400px) {
  #contact .contact-body {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
