/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
@keyframes slide-right {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(4%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes slide-left {
  0% {
    transform: translate(-200%);
  }
  10% {
    transform: translate(-204%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes slide-left-current {
  0% {
    transform: translate(0%);
  }
  10% {
    transform: translate(-4%);
  }
  100% {
    transform: translate(100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade--in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade--out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translatey(500%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes slide--out--right {
  0% {
    transform: translateX();
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  background-color: #ebe7e3;
  color: #222121;
}
body h2 {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: 400;
}
@media (min-width: 760px) {
  body h2 {
    font-size: 2em;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
}

#about, #skills, #contact, #projects {
  padding: 1.5em 0;
}

.hide {
  display: none;
}

.header {
  padding: 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #222121;
  animation: fade-in 1s ease-in-out forwards;
}
.header .title-container {
  margin-top: 3em;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.header .header-links {
  animation: slide-in-bottom 1s cubic-bezier(0.21, 1.1, 0.72, 1.05) forwards;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .header-links li {
  font-size: 0.65em;
  white-space: nowrap;
  margin: 0.5em 0 1em 0.25em;
  transition: 0.3s ease-in-out transform;
}
.header .header-links li a {
  display: flex;
  align-items: center;
}
.header .header-links li img {
  height: 1.25em;
  width: 1.25em;
}
.header .header-links li:hover {
  transform: translateX(10px);
  cursor: pointer;
}
.header .about-me {
  animation: slide-in-right 1s cubic-bezier(0.21, 1.1, 0.72, 1) forwards;
  font-size: 1em;
  margin: 0;
  font-weight: 300;
}
.header #title {
  animation: slide-in-left 1s cubic-bezier(0.21, 1.1, 0.72, 1) forwards;
  font-size: 3em;
  font-weight: 400;
  margin: 0;
  border-top: 2px solid #222121;
  border-right: 2px solid #222121;
  padding-bottom: 0.25em;
}
.header #title-desc {
  display: block;
  font-size: 0.5em;
  margin-top: 0.5em;
}
.header .scroll-down {
  width: 100%;
  margin: 0;
  padding-bottom: 0.5em;
  text-align: center;
  font-weight: 300;
  margin-top: auto;
  animation: fade-in-out 2s infinite alternate;
  grid-area: scroll;
}
.header .scroll-down.fade-out {
  animation: fade-in 0.5s reverse forwards;
}
@media (min-width: 760px) {
  .header {
    font-size: 1.25em;
  }
  .header #title {
    font-size: 2.8em;
    white-space: nowrap;
  }
  .header .header-links {
    display: inline-block;
  }
  .header .header-links li img {
    display: inline-block;
  }
}
@media (min-width: 1050px) {
  .header {
    font-size: 1.35em;
    background: #ebe7e3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .title-container {
    margin-right: auto;
  }
  .header #title {
    font-size: 3.65em;
    padding: 0.25em;
    margin-top: 0;
    margin-bottom: 1em;
  }
  .header .scroll-down {
    align-self: end;
  }
}
@media (min-width: 1400px) {
  .header {
    font-size: 1.45em;
  }
  .header .title-container {
    flex-wrap: nowrap;
  }
  .header .about-me {
    font-size: 0.9em;
  }
  .header .header-links {
    margin-right: 1em;
  }
}
@media (min-width: 2000px) {
  .header #title {
    font-size: 5em;
  }
}

.main {
  padding-bottom: 2rem;
}

.nav {
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-weight: 300;
  animation: slide-in-top 1s cubic-bezier(0.21, 1.1, 0.72, 1) forwards;
}
.nav li {
  padding: 0.5em;
  margin: 0.5em 0;
  box-shadow: 0px 0px 7px #222121;
  border-radius: 10px;
  text-align: center;
  transition: 0.15s ease-in;
}
.nav li:hover {
  background-color: rgba(34, 33, 33, 0.3);
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: #ebe7e3;
  min-width: 85%;
  color: #222121;
}
@media (min-width: 760px) {
  .nav {
    display: flex;
  }
}
@media (min-width: 1050px) {
  .nav {
    max-width: 50%;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-top: 1.5em;
    order: -1;
  }
  .nav a {
    min-width: 0;
  }
  .nav li {
    border-color: #222121;
    padding: 0;
    margin: 0 0.5em;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid #ebe7e3;
  }
  .nav li:hover {
    background-color: #ebe7e3;
    border-bottom: 1px solid #222121;
  }
}

#about {
  padding: 0 5% 0;
  line-height: 1.5;
}
#about p {
  margin: 0;
}

#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #ebe7e3;
  color: #222121;
  padding: 0 5% 0;
}
#skills .skills-title {
  width: 100%;
  flex-basis: 100%;
}
#skills .full-skills-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#skills .skills-container {
  flex: 1;
  padding: 1em;
  border-radius: 0.25em;
  box-shadow: 0px 0px 7px inset #222121;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
#skills .skills__carousel {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin-left: auto;
}
#skills .skills__carousel .skills__carousel__left,
#skills .skills__carousel .skills__carousel__right {
  background: transparent;
  border: none;
  font-size: 2em;
}
#skills .skills__carousel .skills__carousel__left:hover,
#skills .skills__carousel .skills__carousel__right:hover {
  cursor: pointer;
}
#skills .skills__carousel .icon-full {
  margin: 0 auto;
  width: 400px;
  height: 560px;
  max-width: 90%;
  max-height: 90%;
}
#skills .skills__carousel .icon-full .skills__card__desc {
  font-size: 1em;
}
#skills .skills__carousel .icon-full .skills__card__title {
  font-size: 1.5em;
}
#skills .skills__carousel .icon-full .view__projects__button {
  margin: auto 0 0.5em;
}
#skills .skills__carousel .icon-full.fade--in {
  animation: 0.5s ease-in fade--in forwards;
}
#skills .skills__carousel .icon-full.fade--out {
  animation: 0.5s ease-in fade--out forwards;
}

#skills .icon-full {
  width: 9em;
  height: 12.6em;
  max-width: 90%;
  max-height: 90%;
  background-color: #ebe7e3;
  color: #222121;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5em;
  transition: 0.3s ease-in;
  box-shadow: 0px 0px 10px #222121;
}
#skills .icon-full .icon-img {
  border-radius: 1.4em 1.4em 0 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #222121;
  height: 33.3333333333%;
}
#skills .icon-full .icon-img img {
  align-self: center;
  width: 4em;
  height: 4em;
}
#skills .icon-full .icon-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 66.6666666667%;
  background-color: #eee;
  border-radius: 0 0 1.4em 1.4em;
}
#skills .icon-full p {
  font-size: 0.6em;
  font-weight: 300;
  padding: 0.2em 0.3em;
  margin: 0;
  text-align: center;
}
#skills .icon-full h3 {
  font-weight: 400;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  font-size: 1.15em;
}

#html .icon-img {
  background-color: #f3722c;
}
#html.icon-full:hover {
  box-shadow: 0px 10px 20px #f3722c;
  transform: translateY(-2.5%);
}
#html.skills__icon:hover {
  box-shadow: 0px 0px 10px #f3722c;
  transform: translateY(-5%);
  cursor: pointer;
}
#html.skills__icon {
  background-color: #f3722c;
}

#css .icon-img {
  background-color: #43aa8b;
}
#css.icon-full:hover {
  box-shadow: 0px 10px 20px #43aa8b;
  transform: translateY(-2.5%);
}
#css.skills__icon:hover {
  box-shadow: 0px 0px 10px #43aa8b;
  transform: translateY(-5%);
  cursor: pointer;
}
#css.skills__icon {
  background-color: #43aa8b;
}

#js .icon-img {
  background-color: #f9c74f;
}
#js.icon-full:hover {
  box-shadow: 0px 10px 20px #f9c74f;
  transform: translateY(-2.5%);
}
#js.skills__icon:hover {
  box-shadow: 0px 0px 10px #f9c74f;
  transform: translateY(-5%);
  cursor: pointer;
}
#js.skills__icon {
  background-color: #f9c74f;
}

#react .icon-img {
  background-color: #61DBFB;
}
#react.icon-full:hover {
  box-shadow: 0px 10px 20px #61DBFB;
  transform: translateY(-2.5%);
}
#react.skills__icon:hover {
  box-shadow: 0px 0px 10px #61DBFB;
  transform: translateY(-5%);
  cursor: pointer;
}
#react.skills__icon {
  background-color: #61DBFB;
}

#sass .icon-img {
  background-color: #cc6699;
}
#sass.icon-full:hover {
  box-shadow: 0px 10px 20px #cc6699;
  transform: translateY(-2.5%);
}
#sass.skills__icon:hover {
  box-shadow: 0px 0px 10px #cc6699;
  transform: translateY(-5%);
  cursor: pointer;
}
#sass.skills__icon {
  background-color: #cc6699;
}

#node .icon-img {
  background-color: #34ec5c;
}
#node.icon-full:hover {
  box-shadow: 0px 10px 20px #34ec5c;
  transform: translateY(-2.5%);
}
#node.skills__icon:hover {
  box-shadow: 0px 0px 10px #34ec5c;
  transform: translateY(-5%);
  cursor: pointer;
}
#node.skills__icon {
  background-color: #34ec5c;
}

#express .icon-img {
  background-color: #577590;
}
#express.icon-full:hover {
  box-shadow: 0px 10px 20px #577590;
  transform: translateY(-2.5%);
}
#express.skills__icon:hover {
  box-shadow: 0px 0px 10px #577590;
  transform: translateY(-5%);
  cursor: pointer;
}
#express.skills__icon {
  background-color: #577590;
}

#git .icon-img {
  background-color: #f94144;
}
#git.icon-full:hover {
  box-shadow: 0px 10px 20px #f94144;
  transform: translateY(-2.5%);
}
#git.skills__icon:hover {
  box-shadow: 0px 0px 10px #f94144;
  transform: translateY(-5%);
  cursor: pointer;
}
#git.skills__icon {
  background-color: #f94144;
}

#jira .icon-img {
  background-color: #4389f1;
}
#jira.icon-full:hover {
  box-shadow: 0px 10px 20px #4389f1;
  transform: translateY(-2.5%);
}
#jira.skills__icon:hover {
  box-shadow: 0px 0px 10px #4389f1;
  transform: translateY(-5%);
  cursor: pointer;
}
#jira.skills__icon {
  background-color: #4389f1;
}

#sql .icon-img {
  background-color: #00758f;
}
#sql.icon-full:hover {
  box-shadow: 0px 10px 20px #00758f;
  transform: translateY(-2.5%);
}
#sql.skills__icon:hover {
  box-shadow: 0px 0px 10px #00758f;
  transform: translateY(-5%);
  cursor: pointer;
}
#sql.skills__icon {
  background-color: #00758f;
}

.skills__icon {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.5em;
  height: 4.5em;
  box-shadow: 0px 0px 5px #222121;
  transition: 0.3s ease-in box-shadow, 0.3s ease-in transform;
}
.skills__icon .skills__icon__img {
  width: 50%;
  height: 50%;
}
.skills__icon .skills__icon__title {
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
}

#projects {
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}
#projects .projects-header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222121;
}
#projects .projects-title {
  padding: 0 2.5% 0 5%;
}
#projects .filter-button {
  font-size: 0.85em;
  height: 50%;
  margin-right: 1em;
  padding: 0.1em 0.35em;
  background: #ebe7e3;
  color: #222121;
  box-shadow: 0px 0px 5px #222121;
  border: none;
  border-radius: 0.75em;
  transition: 0.25s ease-in background-color color;
}
#projects .filter-button.active {
  background-color: #222121;
  color: #ebe7e3;
}
#projects .filter-button.active:hover {
  background-color: rgba(34, 33, 33, 0.9);
}
#projects .filter-button:hover {
  cursor: pointer;
  background-color: rgba(34, 33, 33, 0.1);
}
#projects .project-card {
  font-size: 0.85em;
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  border-bottom: 1px solid #222121;
  animation: fade-in 0.75s ease-in-out forwards;
}
#projects .project-head {
  max-width: 25em;
  display: flex;
  flex-direction: column;
}
#projects .project-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25em;
}
#projects .project-image {
  width: 100%;
  transition: 0.35s ease-in;
}
#projects .project-image:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 7px #222121;
}
#projects .project-title {
  margin: 0;
  min-width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: 400;
}
#projects .project-desc {
  margin: auto 0;
}
#projects .project-skills {
  font-size: 0.6em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
#projects .project-skills li {
  padding: 0.1em 0.6em;
  border: 1px solid #222121;
  border-radius: 0.75em;
  margin: 0.25em;
  background: #222121;
  color: #ebe7e3;
}
#projects .project-buttons {
  margin-top: 1em;
  margin-left: auto;
  font-size: 0.8em;
}
#projects .project-buttons .live-demo,
#projects .project-buttons .github {
  padding: 0.15em;
  background: #ebe7e3;
  color: #222121;
  border: none;
  border-bottom: 2px solid #ebe7e3;
  transition: 0.25s ease-in-out;
}
#projects .project-buttons .live-demo:hover,
#projects .project-buttons .github:hover {
  border-bottom: 2px solid #222121;
  cursor: pointer;
}
#projects .project-buttons .live-demo {
  margin-right: 1em;
}
@media (min-width: 760px) {
  #projects .project-card {
    font-size: 1.15em;
  }
}
@media (min-width: 1610px) {
  #projects .project-card:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  #projects .project-card:nth-of-type(2n) .project-buttons {
    margin-left: 0;
    margin-right: auto;
  }
  #projects .project-card:nth-of-type(2n) .project-skills {
    margin-left: auto;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  padding: 0 5% 0;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
#contact .contact-aside {
  max-width: 1000px;
  margin: 0 auto;
}
#contact p {
  display: flex;
  align-content: center;
  font-size: 0.8em;
  margin-right: 0.5em;
  white-space: nowrap;
}
#contact p img {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.15em;
  transition: 0.3s ease-in-out transform;
}
#contact p:hover {
  cursor: pointer;
}
#contact p:hover img {
  transform: translateY(-5px);
}
#contact label {
  margin-bottom: 0.25em;
}
#contact input,
#contact textarea {
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  border: none;
  outline: none;
  background: #eee;
  border: 1px solid #222121;
}
#contact textarea {
  min-height: 8em;
}
#contact button {
  background-color: #222121;
  color: #ebe7e3;
  border: 1px solid #ebe7e3;
  border-radius: 5px;
  padding: 0.5em;
  transition: 0.25s ease-in-out;
}
#contact button:hover {
  cursor: pointer;
  background: rgba(34, 33, 33, 0.8);
}
@media (min-width: 1400px) {
  #contact .contact-body {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
